<div class='home-container'>
  <div class='home-picture-container'>
    <img src='assets/me.jpg' alt='Me' class='home-picture'>
  </div>

  <div class='home-about-container'>
    <span class='home-greets'>Salut !</span>
    <span class='home-itsa-me'>
      C'est&nbsp;<b class='home-my-name'>Jean&#8209;Marc&nbsp;DEBICKI&nbsp;!</b>
    </span>

    <div class='home-title'>Développeur Fullstack Confirmé</div>
    <div class='home-contact'>
      <a href="https://www.linkedin.com/in/jean-marc-debicki/" target="_blank" rel="noopener noreferrer">
        <div class="home-linkedin"></div>
      </a>
      <a href="https://www.youtube.com/channel/UC3_Fizc7oEkrIjBmUd8Z--w" target="_blank" rel="noopener noreferrer">
        <div class="home-youtube"></div>
      </a>
      <a href="https://github.com/Moinketroa" target="_blank" rel="noopener noreferrer">
        <div class="home-github"></div>
      </a>
    </div>
  </div>
</div>
